
html, 
body,
#root {
	height: 100vh;
	min-width: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
    background-color: white;
    /* margin: 10%; */
}

.container {
	/* background-color: tomato;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white; */

	background-color: tomato;
    padding: 10px;
    border-radius: 5px;
	min-width: 100%;
	min-height: 100%;
	color: white;
}

.header {
	display: flex;
}
